<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile"
            xsi:type="File"
            fileName="${specialfolder:folder=ApplicationData}/SaveAsOcr/SaveAsOcr.${longdate:cached=true}.log"
            archiveFileName="${specialfolder:folder=ApplicationData}/SaveAsOcr/Archive/SaveAsOcr.${shortdate}.{#}.log"
            archiveAboveSize="5000000"
            archiveEvery="Day"
            archiveNumbering="Rolling"
            maxArchiveFiles="5" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
  </rules>
</nlog>